<%- include("../header.ejs") %>
    <div class="box" id="heading" style="margin-top: 5%;">
        <h1>User Details</h1>
    </div>
    <div class="box" id="heading" style="margin-top: 5%;font-size: 1rem;background-color: aqua;display: flex;justify-content: space-between;">
        <h1 style="font-size: 2rem;">Name:<%= itemc[0].name %></h1><p>Edit</p>
    </div>
    <div class="box" id="heading" style="margin-top: 0%;font-size: 1rem;background-color: aquamarine;display: flex;justify-content: space-between;">
        <h1 style="font-size: 2rem;">Email:<%= itemc[0].email %></h1><p>Edit</p>
    </div>
    <div class="box" id="heading" style="margin-top: 0%;font-size: 1rem;background-color: cornflowerblue;display: flex;justify-content: space-between;">
        <h1 style="font-size: 2rem;">Password:<%= itemc[0].password %></h1><p>Edit</p>
    </div>
    
<%- include("../footer.ejs") %>